@import "tailwindcss";

@theme {
  --color-primary: #502D55;
  --color-primary-light: #935073;
  --color-bg-main: #F3F4F6;
  --color-text-main: #171923;
  --color-text-muted: #6B7280;
  
  --font-sans: 'Montserrat', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

body {
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}
